//UI Settings
@import "./base/settings";

//Components
@import "./components/header";
@import "./components/text";
@import "./components/card";
@import "./components/button";
@import "./components/loading";
//Pages
@import "./pages/home";
@import "./pages/game";
@import "./pages/result";
//Global

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

body {
  background-color: $background;
  font-family: "Montserrat";
}

.container {
  background-color: #fffac2;
  padding: 36px 72px;
  width: 55.85rem; //65rem
  height: 59.6rem;
  border-radius: 16px;
  margin: 0 auto;
  margin-bottom: 30px;
}
