$background: #1c1d3b;
$white: #ffffff;
$primary: #a2f2f9;
$secondary: #d8e054;
$primary_hover: #49d5e1;
$primary_active: #1a7a83;
$secondary_hover: #b1b83b;
$secondary_active: #73781c;
$text_primary: #233a59;
